@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    background-color: #0c0cc5;
    color: #00ff40;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#top_row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-bottom: 20px;
}

.top_row_center_div {
    padding-top: 40px;
    border: 1px solid #00ff40;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 70vh;
}

.start_page_Image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 20px;
}

.button1, .choice-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #00ff40;
    color: #0c0cc5;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: left;
}

.button1:hover, .choice-button:hover {
    background-color: #009933;
}

#bottomRowCenterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid #00ff40;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
}
